body {
  margin: 0 ;
  padding: 0;
}

header {
  max-width: 1000px;
  margin: 0 auto;
}

#logo {
  width: 168px;
}

#logo > img {
  /* 幅の取り方？ */
  width: 100%;
}

#main-visual {
  max-width: 1000px;
  margin: 0 auto;
}

#main-visual > img {
  width: 100%;
}

#index > div {
  margin: 60px auto 60px auto;
  max-width: 800px;
  padding-top:60px ;
  padding-bottom:60px ;
  background-color: #F5F5F5;
}

.c-content-title {
  font-size: 18px;
  text-align: center;
  margin: 0 0 25px 0;
}

.index-text { 
  width: 80%;
  text-align: center; 
  margin: 0 auto ;
  list-style-position: inside;
  padding: 10px 20px;  
  line-height: 3;
  border:1px solid #000 ;
}


ol {
  padding: 0;
}
ol > li {
  font-weight:lighter;
  font-size: 14px;
}

ul > li {
  list-style: none;
}

#photo-content {
  max-width: 800px;
  margin: 0 auto;
}

#photo-content > div > ul {
  padding: 0;
}

#photo-content > div > ul > li {
  width: 49%;
}

#photo-content > div > ul > li > img {
  width: 100%;
}

#photo-content > div > ul {
  display: flex;
  flex-wrap: wrap; 
  gap: 15px;
}

#detail > div {
  max-width: 800px;
  margin: 60px auto 60px auto;
  background-color: #F5F5F5;
  padding-top:55px ; 
  padding-bottom:55px ; 

}

#detail > div > div {
  width: 85%;
  margin: 0 auto;
  display: flex;
  
}

dt {
  font-weight: bold;
}

dd {
 margin: 0 0 10px 0;
}

#detail-left {
  width: 40%;
  margin-right: 30px;
}

#detail-left > dl {
  font-size: 14px;
  border-right :1px solid #000 ;

}

#detail-right > div > p {
  font-size: 14px;
  margin-bottom: 10px;
}

.detail-a {
  margin-top: 25px;
  display: block;
  color: #333;
  font-size: 14px;
}

footer {
  text-align: center;
}

@media screen and (max-width:1024px){

  #logo {
    padding: 40px 10px 10px 10px;
  }

  #index > div {
    margin-top: 60px;
    padding-bottom: 40px;
    width: 90%; 
  }
.index-text {
  line-height: 2;

}

.index-text > ol >li {
 margin-bottom: 10px;

 
}

#photo-content > div {
  width: 90%;
  margin: 0 auto;
}

#photo-content > div > ul >li {
  width: 100%;
}

#detail > div {
  width: 90%;  
  margin-top: 0;
}

#detail > div > div {
  display: flex;
  flex-wrap: wrap;
}

#detail-left {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #000;
}

#detail-left > dl {
  border-right:0 ;
  margin-bottom: 40px;

}
#detail {
  padding-top: 40px;
}

#detail-right {
  margin-top: 30px;
}
}
